<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deekayen.dnscontrol.alfred2</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>9CE81F1C-220C-4BC4-8B07-B366975A1262</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D61A6993-6D0E-4785-9B18-DD5F3C82055A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D587658B-CBD0-4898-BF64-30D8E822D3E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D96A9F7F-9132-4346-9509-75BF4B28A534</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D866DA1D-5E55-49F2-AF16-AB9C87C22355</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CE81F1C-220C-4BC4-8B07-B366975A1262</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Norman</string>
	<key>description</key>
	<string>Manipulate DNS and Bonjour from discoveryd using discoveryutil.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DNS control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell me to activate
  set osversion_minor to system attribute "sys2"

  if q is equal to "" then
    if osversion_minor is less than 7 then
      set output to (do shell script "dscacheutil -flushcache;echo $?" with administrator privileges)
    else if osversion_minor is less than 10 then
      set output to (do shell script "killall -HUP mDNSResponder;echo $?" with administrator privileges)
    else if osversion_minor is equal to 10 then
      if osversion_update is less than 4 then
        set output to (do shell script "discoveryutil mdnsflushcache;discoveryutil udnsflushcaches;echo $?" with administrator privileges)
      else
        set output to (do shell script "killall -HUP mDNSResponder;echo $?" with administrator privileges)
      end if
    else
      set output to (do shell script "killall -HUP mDNSResponder;echo $?" with administrator privileges)
    end if
  else
    set pwd to q
    if osversion_minor is less than 7 then
      set output to (do shell script "dscacheutil -flushcache;echo $?" password pwd with administrator privileges)
    else if osversion_minor is less than 10 then
      set output to (do shell script "killall -HUP mDNSResponder;echo $?" password pwd with administrator privileges)
    else if osversion_minor is equal to 10 then
      if osversion_update is less than 4 then
        set output to (do shell script "discoveryutil mdnsflushcache;discoveryutil udnsflushcaches;echo $?" password pwd with administrator privileges)
      else
        set output to (do shell script "killall -HUP mDNSResponder;echo $?" password pwd with administrator privileges)
      end if
    else
      set output to (do shell script "killall -HUP mDNSResponder;echo $?" password pwd with administrator privileges)
    end if
  
  end if

  if output is equal to "0" then
	return "DNS cache successfully flushed. (งツ)ว"
  else
	return "Error, cache was NOT flushed."
  end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>9CE81F1C-220C-4BC4-8B07-B366975A1262</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>DNS control</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D61A6993-6D0E-4785-9B18-DD5F3C82055A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>dns flush</string>
				<key>subtext</key>
				<string>Optionally append your admin password after the keyword and a space.</string>
				<key>text</key>
				<string>Flush DNS cache</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D866DA1D-5E55-49F2-AF16-AB9C87C22355</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>udns udp</string>
				<key>subtext</key>
				<string>Skip password prompt by adding your admin password after the keyword and a space.</string>
				<key>text</key>
				<string>Allow udns queries to go over UDP</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D587658B-CBD0-4898-BF64-30D8E822D3E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell me to activate
  if q is equal to "" then
    do shell script "discoveryutil udnsforcetcp no" with administrator privileges
  else
    set pwd to q
    do shell script "discoveryutil udnsforcetcp no" password pwd with administrator privileges
  end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D96A9F7F-9132-4346-9509-75BF4B28A534</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Manage the DNS (discoveryd) service in Mac OS 10.10+.

No arguments will prompt you for a user and password.

For more convenience, you can also enter your password after the keyword (separated by a space). This is much quicker, and don't worry: this workflow does not store or submit any data. If the password happens to be wrong, you will see the regular prompt by the system.

Success or errors are reported through a notification.

Just in case you didn’t read this, it attempts to support DNS cache flushing for older versions of OS X. Commands used:

&lt;=10.9

sudo killall -HUP mDNSResponder

&gt;=10.10

sudo discoveryutil udnsflushcaches</string>
	<key>uidata</key>
	<dict>
		<key>9CE81F1C-220C-4BC4-8B07-B366975A1262</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D587658B-CBD0-4898-BF64-30D8E822D3E2</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>D61A6993-6D0E-4785-9B18-DD5F3C82055A</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D866DA1D-5E55-49F2-AF16-AB9C87C22355</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D96A9F7F-9132-4346-9509-75BF4B28A534</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>890</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/deekayen/dnscontrol</string>
</dict>
</plist>
